body{
    font-family: 'Roboto', sans-serif;
}

header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #363636;
}

h1{
    font-weight: 700;
    font-size: 24px;
}

main{
    height: 2000px;
    width: 1000px;
    margin: 15px auto 0 auto;
    border: 1px solid #363636;
    border-radius: 15px;
    background-color: aquamarine;
}

